body {
	background: #f2f2f2;
}
header, main, footer{
	background: #fff;
	margin-bottom: 2px;
}
h2 {
	font-size: 1.2rem;
    font-weight: 600;
    color: rgba(3,3,3,.4);
}
h3 {
	font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}
h4 {
	font-size: 0.9rem;
    font-weight: 700;
    color: #000;
}

img{
    vertical-align: middle;
    height: auto;
}

/* header */
.header-top{
	background: #f72210;
	color: #fff;
    height: 95px;
    padding: 20px 10px 15px;}

.container{
    max-width: 97%;
}

.navbar{
    /*width: 100%;*/
}
.nav-item{
	list-style: none;
    border-right: 1px solid #dedede;
    padding: 0 24px;
    font-weight: 700;
    font-size: 1.2em;
}
.nav-search{
	border: none;
	width: 50px;
    height: 30px;
    margin: 0 10px 0 20px;
}

.date{
	padding-top: 27px;
}
.subscribe{
	text-align: right;
	padding: 20px;
}
.subscribe button{
	border: none;
	background: #fff;
	color: #f72210;
}
.s-pad {
	padding: 6px 12px;
	text-transform: uppercase;
	font-weight: 700;
}


/* container */

.article-bottom {
	border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
    font-weight: 600;
    font-size: 0.9em;
    color: #000;
}

.featured-stories img, .editors-pick img, .slideshow img, .section-cat img{
	width: 100%;
}

.opinion p {
	font-size: 0.8rem;
    font-weight: 600;
    color: #aaa;
}

.red{
	border-radius: 50%;
	background: url(../images/opinion-headshot-bg.png) center no-repeat #f72210;
}
/* ======================= */
/* MAGAZINE STYLES*/
/* ======================= */ 

h2.section-heading{
    text-align: center;

}
.sec-line{
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}
.section-cat{
    padding: 5px 0;
}

.spc-btw{
    justify-content: space-between;
}

.pick-right{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pick-right:first-child{
    padding-top: 0;
}

.lines{
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.section-pick-head{
    border-top: 1px solid #d9d9d9;
    padding-top: 25px;
    
}

.section-pick-head h2{
    color: #f72210;
    font-size: 22px;
    line-height: 22px;
    text-transform: Capitalize;
}


/* ======================= */
/* SLIDESHOW STYLES*/
/* ======================= */ 

.slideshow img{
    margin-bottom: 20px;
}

.slideshow article{
    padding-bottom: 40px;
}


/* ======================= */
/* footer styles */
/* ======================= */ 
footer img{
    width: auto;
}
.footer-top{
    border-bottom: 1px solid #666;
    padding: 20px 0 10px 0;
    margin: 0 auto;
}

.social-icon{
    color: #666;
    text-align: right;
}
.social-icon i{
    font-size: 1.5em;
    margin-right: 10px;
}

.footer-links{
    margin-top: 20px;
}

.footer-links li{
    display: inline;
}

.footer-links ul{
    padding-left: 0;
}

.leaf{
    border-right: 1px solid #d9d9d9;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: gray;
    font-size: .8em;
}

.footer-links li a{
    color: gray;
}
.last{
    border: none;
}

.trademark{
    vertical-align: bottom;
}